<a href="https://colab.research.google.com/github/suki-chima/API_requests_and_JSON/blob/main/API_JSON_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### API & JSON

In [22]:
import pandas as pd

In [23]:
#Import JSON data from an url:
url="http://api.open-notify.org/astros.json"
dataframe = pd.read_json(url)
dataframe

   number                                         people  message
0      10   {'name': 'Sergey Prokopyev', 'craft': 'ISS'}  success
1      10     {'name': 'Dmitry Petelin', 'craft': 'ISS'}  success
2      10        {'name': 'Frank Rubio', 'craft': 'ISS'}  success
3      10      {'name': 'Stephen Bowen', 'craft': 'ISS'}  success
4      10      {'name': 'Warren Hoburg', 'craft': 'ISS'}  success
5      10    {'name': 'Sultan Alneyadi', 'craft': 'ISS'}  success
6      10     {'name': 'Andrey Fedyaev', 'craft': 'ISS'}  success
7      10  {'name': 'Jing Haiping', 'craft': 'Tiangong'}  success
8      10   {'name': 'Gui Haichow', 'craft': 'Tiangong'}  success
9      10   {'name': 'Zhu Yangzhu', 'craft': 'Tiangong'}  success

In [24]:
#We need to flaten the nested JSON data in the column 'people':
normalised_data=pd.json_normalize(dataframe['people'])
normalised_data

               name     craft
0  Sergey Prokopyev       ISS
1    Dmitry Petelin       ISS
2       Frank Rubio       ISS
3     Stephen Bowen       ISS
4     Warren Hoburg       ISS
5   Sultan Alneyadi       ISS
6    Andrey Fedyaev       ISS
7      Jing Haiping  Tiangong
8       Gui Haichow  Tiangong
9       Zhu Yangzhu  Tiangong

In [25]:
#We need to combine the previous dataframe with the new flatten JSON data:
concat_data= pd.concat([dataframe, normalised_data], axis=1).drop('people', axis=1)
concat_data

   number  message              name     craft
0      10  success  Sergey Prokopyev       ISS
1      10  success    Dmitry Petelin       ISS
2      10  success       Frank Rubio       ISS
3      10  success     Stephen Bowen       ISS
4      10  success     Warren Hoburg       ISS
5      10  success   Sultan Alneyadi       ISS
6      10  success    Andrey Fedyaev       ISS
7      10  success      Jing Haiping  Tiangong
8      10  success       Gui Haichow  Tiangong
9      10  success       Zhu Yangzhu  Tiangong

In [26]:
#Import data from an API:
import requests

In [27]:
url="https://disease.sh/v3/covid-19/countries"
url

'https://disease.sh/v3/covid-19/countries'

In [28]:
url="https://disease.sh/v3/covid-19/countries"
API_requests= requests.get(url)
API_requests

In [29]:
#Import json module:
import json

In [ ]:

#Get the request into text and change it to JSON format:
data_API= API_requests.text
json_data=json.loads(data_API)
json_data

In [31]:
dataframe= pd.DataFrame(json_data)
dataframe.tail()

,updated,country,countryInfo,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,...,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
226,1691670576431,Wallis and Futuna,"{'_id': 876, 'iso2': 'WF', 'iso3': 'WLF', 'lat...",3550,0,8,0,438,0,3104,...,20508,1867419,10982,Australia-Oceania,3,1373,1,282644.33,39883.45,0.00
227,1691670576441,Western Sahara,"{'_id': 732, 'iso2': 'EH', 'iso3': 'ESH', 'lat...",10,0,1,0,9,0,0,...,0,0,626161,Africa,62616,626161,0,0.00,14.37,0.00
228,1691670576409,Yemen,"{'_id': 887, 'iso2': 'YE', 'iso3': 'YEM', 'lat...",11945,0,2159,0,9124,0,662,...,329592,10579,31154867,Asia,2608,14430,95,21.25,292.86,0.74
229,1691670576298,Zambia,"{'_id': 894, 'iso2': 'ZM', 'iso3': 'ZMB', 'lat...",349287,0,4069,0,341316,0,3902,...,4112961,211244,19470234,Africa,56,4785,5,200.41,17530.14,0.00
230,1691670576309,Zimbabwe,"{'_id': 716, 'iso2': 'ZW', 'iso3': 'ZWE', 'lat...",265693,0,5712,0,258888,0,1093,...,2525756,164744,15331428,Africa,58,2684,6,71.29,16886.10,0.78

In [32]:
url="https://data.police.uk/api/crimes-street-dates"
API_requests= requests.get(url)
API_requests

In [ ]:

#Get the request into text and change it to JSON format:
data_API= API_requests.text
json_data=json.loads(data_API)
json_data

In [34]:
dataframe= pd.DataFrame(json_data)
dataframe.tail()

       date                                    stop-and-search
31  2020-11  [avon-and-somerset, bedfordshire, btp, cambrid...
32  2020-10  [avon-and-somerset, bedfordshire, btp, cambrid...
33  2020-09  [avon-and-somerset, bedfordshire, btp, cambrid...
34  2020-08  [avon-and-somerset, bedfordshire, btp, cambrid...
35  2020-07  [avon-and-somerset, bedfordshire, btp, cambrid...

In [35]:
dataframe.head()

      date                                    stop-and-search
0  2023-06  [bedfordshire, btp, cambridgeshire, city-of-lo...
1  2023-05  [bedfordshire, btp, cambridgeshire, city-of-lo...
2  2023-04  [bedfordshire, btp, cambridgeshire, city-of-lo...
3  2023-03  [bedfordshire, btp, cambridgeshire, cheshire, ...
4  2023-02  [bedfordshire, btp, cambridgeshire, cheshire, ...

In [36]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             36 non-null     object
 1   stop-and-search  36 non-null     object
dtypes: object(2)
memory usage: 704.0+ bytes

In [37]:
dataframe.columns

Index(['date', 'stop-and-search'], dtype='object')

In [38]:
dataframe["stop-and-search"]

0     [bedfordshire, btp, cambridgeshire, city-of-lo...
1     [bedfordshire, btp, cambridgeshire, city-of-lo...
2     [bedfordshire, btp, cambridgeshire, city-of-lo...
3     [bedfordshire, btp, cambridgeshire, cheshire, ...
4     [bedfordshire, btp, cambridgeshire, cheshire, ...
5     [bedfordshire, btp, cambridgeshire, cheshire, ...
6     [bedfordshire, btp, cambridgeshire, cheshire, ...
7     [bedfordshire, btp, cambridgeshire, cheshire, ...
8     [bedfordshire, btp, cambridgeshire, cheshire, ...
9     [bedfordshire, btp, cambridgeshire, cheshire, ...
10    [bedfordshire, btp, cambridgeshire, cheshire, ...
11    [bedfordshire, btp, cambridgeshire, cheshire, ...
12    [avon-and-somerset, bedfordshire, btp, cambrid...
13    [avon-and-somerset, bedfordshire, btp, cambrid...
14    [avon-and-somerset, bedfordshire, btp, cambrid...
15    [avon-and-somerset, bedfordshire, btp, cambrid...
16    [avon-and-somerset, bedfordshire, btp, cambrid...
17    [avon-and-somerset, bedfordshire, btp, cambrid...
18    [avon-and-somerset, bedfordshire, btp, cambrid...
19    [avon-and-somerset, bedfordshire, btp, cambrid...
20    [avon-and-somerset, bedfordshire, btp, cambrid...
21    [avon-and-somerset, bedfordshire, btp, cambrid...
22    [avon-and-somerset, bedfordshire, btp, cambrid...
23    [avon-and-somerset, bedfordshire, btp, cambrid...
24    [avon-and-somerset, bedfordshire, btp, cambrid...
25    [avon-and-somerset, bedfordshire, btp, cambrid...
26    [avon-and-somerset, bedfordshire, btp, cambrid...
27    [avon-and-somerset, bedfordshire, btp, cambrid...
28    [avon-and-somerset, bedfordshire, btp, cambrid...
29    [avon-and-somerset, bedfordshire, btp, cambrid...
30    [avon-and-somerset, bedfordshire, btp, cambrid...
31    [avon-and-somerset, bedfordshire, btp, cambrid...
32    [avon-and-somerset, bedfordshire, btp, cambrid...
33    [avon-and-somerset, bedfordshire, btp, cambrid...
34    [avon-and-somerset, bedfordshire, btp, cambrid...
35    [avon-and-somerset, bedfordshire, btp, cambrid...
Name: stop-and-search, dtype: object

In [39]:
dataframe

       date                                    stop-and-search
0   2023-06  [bedfordshire, btp, cambridgeshire, city-of-lo...
1   2023-05  [bedfordshire, btp, cambridgeshire, city-of-lo...
2   2023-04  [bedfordshire, btp, cambridgeshire, city-of-lo...
3   2023-03  [bedfordshire, btp, cambridgeshire, cheshire, ...
4   2023-02  [bedfordshire, btp, cambridgeshire, cheshire, ...
5   2023-01  [bedfordshire, btp, cambridgeshire, cheshire, ...
6   2022-12  [bedfordshire, btp, cambridgeshire, cheshire, ...
7   2022-11  [bedfordshire, btp, cambridgeshire, cheshire, ...
8   2022-10  [bedfordshire, btp, cambridgeshire, cheshire, ...
9   2022-09  [bedfordshire, btp, cambridgeshire, cheshire, ...
10  2022-08  [bedfordshire, btp, cambridgeshire, cheshire, ...
11  2022-07  [bedfordshire, btp, cambridgeshire, cheshire, ...
12  2022-06  [avon-and-somerset, bedfordshire, btp, cambrid...
13  2022-05  [avon-and-somerset, bedfordshire, btp, cambrid...
14  2022-04  [avon-and-somerset, bedfordshire, btp, cambrid...
15  2022-03  [avon-and-somerset, bedfordshire, btp, cambrid...
16  2022-02  [avon-and-somerset, bedfordshire, btp, cambrid...
17  2022-01  [avon-and-somerset, bedfordshire, btp, cambrid...
18  2021-12  [avon-and-somerset, bedfordshire, btp, cambrid...
19  2021-11  [avon-and-somerset, bedfordshire, btp, cambrid...
20  2021-10  [avon-and-somerset, bedfordshire, btp, cambrid...
21  2021-09  [avon-and-somerset, bedfordshire, btp, cambrid...
22  2021-08  [avon-and-somerset, bedfordshire, btp, cambrid...
23  2021-07  [avon-and-somerset, bedfordshire, btp, cambrid...
24  2021-06  [avon-and-somerset, bedfordshire, btp, cambrid...
25  2021-05  [avon-and-somerset, bedfordshire, btp, cambrid...
26  2021-04  [avon-and-somerset, bedfordshire, btp, cambrid...
27  2021-03  [avon-and-somerset, bedfordshire, btp, cambrid...
28  2021-02  [avon-and-somerset, bedfordshire, btp, cambrid...
29  2021-01  [avon-and-somerset, bedfordshire, btp, cambrid...
30  2020-12  [avon-and-somerset, bedfordshire, btp, cambrid...
31  2020-11  [avon-and-somerset, bedfordshire, btp, cambrid...
32  2020-10  [avon-and-somerset, bedfordshire, btp, cambrid...
33  2020-09  [avon-and-somerset, bedfordshire, btp, cambrid...
34  2020-08  [avon-and-somerset, bedfordshire, btp, cambrid...
35  2020-07  [avon-and-somerset, bedfordshire, btp, cambrid...

In [40]:
dataframe.to_csv('police.csv')